@import "../../styles"

.navbar
    padding-top: 1em
    color: $white
    font-size: 1.25em
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    button
        svg
            font-size: 1.25em
    #log-out
        &:hover
            color: $dark1

    //Media Queries
    @media screen and ( max-width: 550px )
        #log-out
            svg
                margin-left: -0.5em
            .text
                display: none

    @media screen and ( max-width: 420px )
        button
            font-size: 0.9em
            padding: 0.5em 1em
